.masthead {
    background-color: var(--color-primary);
    color: #fff;
    border-top: .25rem solid var(--color-secondary);
}

.masthead .container {
    padding: 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.masthead a {
    color: #fff;
    text-decoration: none;
}

.masthead a:hover,
.masthead a:focus-visible {
    color: var(--color-secondary);
}

.masthead .logo {
    display: flex;
    gap: .75rem;
    align-items: center;
    font-size: 1.525rem;
    font-weight: bold;
    line-height: 1.3;
    margin: 0;
    padding: 0 1.5rem;
}

.masthead .logo__img {
    width: 4rem;
}

.masthead .logo__text {
    font-size: 1.525rem;
    font-weight: bold;
    line-height: 1.3;
}

.masthead nav {
    width: 100%;
}

.masthead ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}

.masthead ul a {
    display: block;
    padding: .75rem 1.5rem;
    text-align: center;
}

.masthead ul a:hover,
.masthead ul a:focus-visible {
    color: #fff;
    background-color: var(--color-secondary);
}

.masthead .sub-masthead {
    background-color: #222d36;
    color: #fff;
}

@media only screen and (min-width: 45em) {

    .masthead .container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.5rem;
    }

    .masthead .logo {
        font-size: 1.725rem;
        padding: 0;
    }

    .masthead nav {
        width: auto;
    }

    .masthead ul {
        flex-direction: row;
    }

    .masthead ul a {
        padding: 1.5rem;
    }

}

@media only screen and (min-width: 60em) {

    .masthead .site-title>* {
        font-size: 1.956rem;
    }

}

/*          NAV TOGGLE              */

.nav-toggle{
    width: 2.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.nav-toggle .tog {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: relative;
}

.tog.top{
    top: 0;
}

.open .top{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
}

.open .middle {
    opacity: 0;
}

.open .bottom{
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    -webkit-transform: translateY(50%) rotate(-45deg);
    -moz-transform: translateY(50%) rotate(-45deg);
    -ms-transform: translateY(50%) rotate(-45deg);
    -o-transform: translateY(50%) rotate(-45deg);
}

@media only screen and (min-width: 45em){
    .nav-toggle{
        display: none;
    }
}

.click-to-close{
    width: 100vw;
    height: 100vh;
    background-color: #0008;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}

.click-to-close.open{
    opacity: 1;
    pointer-events: all;
}